.header {

    height: 80px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header img {
    width: 50px;
}

.header h1 {
    margin-right: 550px;
}

.header a {
    color: black;
    text-decoration: none;
    margin-left: 35px;
    font-size: 16px;
}

.header a:hover {
    color: orange;
}